@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --material-theme-body-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-large-font-size: 16px;
  --material-theme-body-large-font-style: normal;
  --material-theme-body-large-font-weight: 400;
  --material-theme-body-large-letter-spacing: 0px;
  --material-theme-body-large-line-height: 24px;
  --material-theme-body-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-medium-font-size: 14px;
  --material-theme-body-medium-font-style: normal;
  --material-theme-body-medium-font-weight: 400;
  --material-theme-body-medium-letter-spacing: 0px;
  --material-theme-body-medium-line-height: 20px;
  --material-theme-body-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-body-small-font-size: 12px;
  --material-theme-body-small-font-style: normal;
  --material-theme-body-small-font-weight: 400;
  --material-theme-body-small-letter-spacing: 0px;
  --material-theme-body-small-line-height: 16px;
  --material-theme-display-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-large-font-size: 57px;
  --material-theme-display-large-font-style: normal;
  --material-theme-display-large-font-weight: 400;
  --material-theme-display-large-letter-spacing: 0px;
  --material-theme-display-large-line-height: 64px;
  --material-theme-display-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-medium-font-size: 45px;
  --material-theme-display-medium-font-style: normal;
  --material-theme-display-medium-font-weight: 400;
  --material-theme-display-medium-letter-spacing: 0px;
  --material-theme-display-medium-line-height: 52px;
  --material-theme-display-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-display-small-font-size: 36px;
  --material-theme-display-small-font-style: normal;
  --material-theme-display-small-font-weight: 400;
  --material-theme-display-small-letter-spacing: 0px;
  --material-theme-display-small-line-height: 44px;
  --material-theme-headline-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-large-font-size: 32px;
  --material-theme-headline-large-font-style: normal;
  --material-theme-headline-large-font-weight: 400;
  --material-theme-headline-large-letter-spacing: 0px;
  --material-theme-headline-large-line-height: 40px;
  --material-theme-headline-medium-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-medium-font-size: 28px;
  --material-theme-headline-medium-font-style: normal;
  --material-theme-headline-medium-font-weight: 400;
  --material-theme-headline-medium-letter-spacing: 0px;
  --material-theme-headline-medium-line-height: 36px;
  --material-theme-headline-small-font-family: "Roboto-Regular", Helvetica;
  --material-theme-headline-small-font-size: 24px;
  --material-theme-headline-small-font-style: normal;
  --material-theme-headline-small-font-weight: 400;
  --material-theme-headline-small-letter-spacing: 0px;
  --material-theme-headline-small-line-height: 32px;
  --material-theme-label-large-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-large-font-size: 14px;
  --material-theme-label-large-font-style: normal;
  --material-theme-label-large-font-weight: 500;
  --material-theme-label-large-letter-spacing: 0px;
  --material-theme-label-large-line-height: 20px;
  --material-theme-label-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-medium-font-size: 12px;
  --material-theme-label-medium-font-style: normal;
  --material-theme-label-medium-font-weight: 500;
  --material-theme-label-medium-letter-spacing: 0px;
  --material-theme-label-medium-line-height: 16px;
  --material-theme-label-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-label-small-font-size: 11px;
  --material-theme-label-small-font-style: normal;
  --material-theme-label-small-font-weight: 500;
  --material-theme-label-small-letter-spacing: 0px;
  --material-theme-label-small-line-height: 16px;
  --material-theme-title-large-font-family: "Roboto-Regular", Helvetica;
  --material-theme-title-large-font-size: 22px;
  --material-theme-title-large-font-style: normal;
  --material-theme-title-large-font-weight: 400;
  --material-theme-title-large-letter-spacing: 0px;
  --material-theme-title-large-line-height: 28px;
  --material-theme-title-medium-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-medium-font-size: 16px;
  --material-theme-title-medium-font-style: normal;
  --material-theme-title-medium-font-weight: 500;
  --material-theme-title-medium-letter-spacing: 0px;
  --material-theme-title-medium-line-height: 24px;
  --material-theme-title-small-font-family: "Roboto-Medium", Helvetica;
  --material-theme-title-small-font-size: 14px;
  --material-theme-title-small-font-style: normal;
  --material-theme-title-small-font-weight: 500;
  --material-theme-title-small-letter-spacing: 0px;
  --material-theme-title-small-line-height: 20px;
  --material-themeblack: rgba(0, 0, 0, 1);
  --material-themekey-colorsprimary: rgba(253, 15, 5, 1);
  --material-themereferrorerror0: rgba(0, 0, 0, 1);
  --material-themereferrorerror10: rgba(65, 0, 2, 1);
  --material-themereferrorerror100: rgba(255, 255, 255, 1);
  --material-themereferrorerror12: rgba(73, 0, 2, 1);
  --material-themereferrorerror17: rgba(92, 0, 4, 1);
  --material-themereferrorerror20: rgba(105, 0, 5, 1);
  --material-themereferrorerror22: rgba(113, 0, 5, 1);
  --material-themereferrorerror24: rgba(121, 0, 6, 1);
  --material-themereferrorerror25: rgba(126, 0, 7, 1);
  --material-themereferrorerror30: rgba(147, 0, 10, 1);
  --material-themereferrorerror35: rgba(168, 7, 16, 1);
  --material-themereferrorerror4: rgba(40, 0, 1, 1);
  --material-themereferrorerror40: rgba(186, 26, 26, 1);
  --material-themereferrorerror5: rgba(45, 0, 1, 1);
  --material-themereferrorerror50: rgba(222, 55, 48, 1);
  --material-themereferrorerror6: rgba(49, 0, 1, 1);
  --material-themereferrorerror60: rgba(255, 84, 73, 1);
  --material-themereferrorerror70: rgba(255, 137, 125, 1);
  --material-themereferrorerror80: rgba(255, 180, 171, 1);
  --material-themereferrorerror87: rgba(255, 207, 201, 1);
  --material-themereferrorerror90: rgba(255, 218, 214, 1);
  --material-themereferrorerror92: rgba(255, 226, 222, 1);
  --material-themereferrorerror94: rgba(255, 233, 230, 1);
  --material-themereferrorerror95: rgba(255, 237, 234, 1);
  --material-themereferrorerror96: rgba(255, 240, 238, 1);
  --material-themereferrorerror98: rgba(255, 248, 247, 1);
  --material-themereferrorerror99: rgba(255, 251, 255, 1);
  --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --material-themerefneutral-variantneutral-variant10: rgba(37, 25, 23, 1);
  --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --material-themerefneutral-variantneutral-variant12: rgba(41, 29, 27, 1);
  --material-themerefneutral-variantneutral-variant17: rgba(52, 39, 37, 1);
  --material-themerefneutral-variantneutral-variant20: rgba(59, 45, 43, 1);
  --material-themerefneutral-variantneutral-variant22: rgba(64, 49, 47, 1);
  --material-themerefneutral-variantneutral-variant24: rgba(68, 54, 51, 1);
  --material-themerefneutral-variantneutral-variant25: rgba(71, 56, 54, 1);
  --material-themerefneutral-variantneutral-variant30: rgba(83, 67, 65, 1);
  --material-themerefneutral-variantneutral-variant35: rgba(95, 79, 76, 1);
  --material-themerefneutral-variantneutral-variant4: rgba(22, 11, 10, 1);
  --material-themerefneutral-variantneutral-variant40: rgba(108, 90, 88, 1);
  --material-themerefneutral-variantneutral-variant5: rgba(25, 14, 12, 1);
  --material-themerefneutral-variantneutral-variant50: rgba(133, 115, 112, 1);
  --material-themerefneutral-variantneutral-variant6: rgba(28, 17, 15, 1);
  --material-themerefneutral-variantneutral-variant60: rgba(160, 140, 137, 1);
  --material-themerefneutral-variantneutral-variant70: rgba(188, 167, 163, 1);
  --material-themerefneutral-variantneutral-variant80: rgba(216, 194, 190, 1);
  --material-themerefneutral-variantneutral-variant87: rgba(236, 213, 209, 1);
  --material-themerefneutral-variantneutral-variant90: rgba(245, 221, 218, 1);
  --material-themerefneutral-variantneutral-variant92: rgba(251, 227, 223, 1);
  --material-themerefneutral-variantneutral-variant94: rgba(255, 233, 229, 1);
  --material-themerefneutral-variantneutral-variant95: rgba(255, 237, 234, 1);
  --material-themerefneutral-variantneutral-variant96: rgba(255, 240, 238, 1);
  --material-themerefneutral-variantneutral-variant98: rgba(255, 248, 246, 1);
  --material-themerefneutral-variantneutral-variant99: rgba(255, 251, 255, 1);
  --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
  --material-themerefneutralneutral10: rgba(32, 26, 25, 1);
  --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
  --material-themerefneutralneutral12: rgba(37, 30, 29, 1);
  --material-themerefneutralneutral17: rgba(47, 40, 39, 1);
  --material-themerefneutralneutral20: rgba(54, 47, 46, 1);
  --material-themerefneutralneutral22: rgba(59, 51, 50, 1);
  --material-themerefneutralneutral24: rgba(63, 55, 54, 1);
  --material-themerefneutralneutral25: rgba(65, 58, 56, 1);
  --material-themerefneutralneutral30: rgba(77, 69, 68, 1);
  --material-themerefneutralneutral35: rgba(89, 80, 79, 1);
  --material-themerefneutralneutral4: rgba(18, 13, 12, 1);
  --material-themerefneutralneutral40: rgba(101, 92, 91, 1);
  --material-themerefneutralneutral5: rgba(21, 16, 15, 1);
  --material-themerefneutralneutral50: rgba(127, 117, 115, 1);
  --material-themerefneutralneutral6: rgba(24, 18, 17, 1);
  --material-themerefneutralneutral60: rgba(153, 142, 141, 1);
  --material-themerefneutralneutral70: rgba(180, 169, 167, 1);
  --material-themerefneutralneutral80: rgba(208, 196, 194, 1);
  --material-themerefneutralneutral87: rgba(228, 215, 213, 1);
  --material-themerefneutralneutral90: rgba(237, 224, 221, 1);
  --material-themerefneutralneutral92: rgba(243, 229, 227, 1);
  --material-themerefneutralneutral94: rgba(248, 235, 233, 1);
  --material-themerefneutralneutral95: rgba(251, 238, 236, 1);
  --material-themerefneutralneutral96: rgba(254, 241, 238, 1);
  --material-themerefneutralneutral98: rgba(255, 248, 246, 1);
  --material-themerefneutralneutral99: rgba(255, 251, 255, 1);
  --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
  --material-themerefprimaryprimary10: rgba(65, 0, 0, 1);
  --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
  --material-themerefprimaryprimary12: rgba(72, 1, 0, 1);
  --material-themerefprimaryprimary17: rgba(92, 1, 0, 1);
  --material-themerefprimaryprimary20: rgba(104, 1, 0, 1);
  --material-themerefprimaryprimary22: rgba(113, 1, 0, 1);
  --material-themerefprimaryprimary24: rgba(121, 1, 0, 1);
  --material-themerefprimaryprimary25: rgba(125, 1, 0, 1);
  --material-themerefprimaryprimary30: rgba(147, 2, 0, 1);
  --material-themerefprimaryprimary35: rgba(169, 2, 0, 1);
  --material-themerefprimaryprimary4: rgba(39, 0, 0, 1);
  --material-themerefprimaryprimary40: rgba(192, 3, 0, 1);
  --material-themerefprimaryprimary5: rgba(45, 0, 0, 1);
  --material-themerefprimaryprimary50: rgba(239, 4, 0, 1);
  --material-themerefprimaryprimary6: rgba(49, 0, 0, 1);
  --material-themerefprimaryprimary60: rgba(255, 85, 64, 1);
  --material-themerefprimaryprimary70: rgba(255, 138, 120, 1);
  --material-themerefprimaryprimary80: rgba(255, 180, 168, 1);
  --material-themerefprimaryprimary87: rgba(255, 207, 199, 1);
  --material-themerefprimaryprimary90: rgba(255, 218, 212, 1);
  --material-themerefprimaryprimary92: rgba(255, 226, 221, 1);
  --material-themerefprimaryprimary94: rgba(255, 233, 229, 1);
  --material-themerefprimaryprimary95: rgba(255, 237, 234, 1);
  --material-themerefprimaryprimary96: rgba(255, 240, 238, 1);
  --material-themerefprimaryprimary98: rgba(255, 248, 246, 1);
  --material-themerefprimaryprimary99: rgba(255, 251, 255, 1);
  --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
  --material-themerefsecondarysecondary10: rgba(44, 21, 17, 1);
  --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
  --material-themerefsecondarysecondary12: rgba(49, 25, 21, 1);
  --material-themerefsecondarysecondary17: rgba(61, 35, 31, 1);
  --material-themerefsecondarysecondary20: rgba(68, 41, 37, 1);
  --material-themerefsecondarysecondary22: rgba(73, 46, 41, 1);
  --material-themerefsecondarysecondary24: rgba(78, 50, 45, 1);
  --material-themerefsecondarysecondary25: rgba(81, 52, 48, 1);
  --material-themerefsecondarysecondary30: rgba(93, 63, 58, 1);
  --material-themerefsecondarysecondary35: rgba(106, 75, 70, 1);
  --material-themerefsecondarysecondary4: rgba(28, 8, 6, 1);
  --material-themerefsecondarysecondary40: rgba(119, 86, 81, 1);
  --material-themerefsecondarysecondary5: rgba(32, 11, 8, 1);
  --material-themerefsecondarysecondary50: rgba(146, 111, 105, 1);
  --material-themerefsecondarysecondary6: rgba(35, 13, 10, 1);
  --material-themerefsecondarysecondary60: rgba(174, 136, 130, 1);
  --material-themerefsecondarysecondary70: rgba(202, 162, 155, 1);
  --material-themerefsecondarysecondary80: rgba(231, 189, 182, 1);
  --material-themerefsecondarysecondary87: rgba(252, 208, 201, 1);
  --material-themerefsecondarysecondary90: rgba(255, 218, 212, 1);
  --material-themerefsecondarysecondary92: rgba(255, 226, 221, 1);
  --material-themerefsecondarysecondary94: rgba(255, 233, 229, 1);
  --material-themerefsecondarysecondary95: rgba(255, 237, 234, 1);
  --material-themerefsecondarysecondary96: rgba(255, 240, 238, 1);
  --material-themerefsecondarysecondary98: rgba(255, 248, 246, 1);
  --material-themerefsecondarysecondary99: rgba(255, 251, 255, 1);
  --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
  --material-themereftertiarytertiary10: rgba(37, 26, 0, 1);
  --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
  --material-themereftertiarytertiary12: rgba(42, 30, 0, 1);
  --material-themereftertiarytertiary17: rgba(55, 40, 0, 1);
  --material-themereftertiarytertiary20: rgba(62, 46, 4, 1);
  --material-themereftertiarytertiary22: rgba(67, 50, 8, 1);
  --material-themereftertiarytertiary24: rgba(71, 55, 12, 1);
  --material-themereftertiarytertiary25: rgba(74, 57, 14, 1);
  --material-themereftertiarytertiary30: rgba(86, 68, 25, 1);
  --material-themereftertiarytertiary35: rgba(99, 80, 35, 1);
  --material-themereftertiarytertiary4: rgba(21, 13, 0, 1);
  --material-themereftertiarytertiary40: rgba(112, 92, 46, 1);
  --material-themereftertiarytertiary5: rgba(24, 16, 0, 1);
  --material-themereftertiarytertiary50: rgba(138, 116, 68, 1);
  --material-themereftertiarytertiary6: rgba(27, 18, 0, 1);
  --material-themereftertiarytertiary60: rgba(165, 142, 91, 1);
  --material-themereftertiarytertiary70: rgba(193, 168, 115, 1);
  --material-themereftertiarytertiary80: rgba(222, 196, 140, 1);
  --material-themereftertiarytertiary87: rgba(242, 215, 158, 1);
  --material-themereftertiarytertiary90: rgba(251, 223, 166, 1);
  --material-themereftertiarytertiary92: rgba(255, 229, 177, 1);
  --material-themereftertiarytertiary94: rgba(255, 236, 199, 1);
  --material-themereftertiarytertiary95: rgba(255, 239, 210, 1);
  --material-themereftertiarytertiary96: rgba(255, 242, 221, 1);
  --material-themereftertiarytertiary98: rgba(255, 248, 242, 1);
  --material-themereftertiarytertiary99: rgba(255, 251, 255, 1);
  --material-themesourceseed: rgba(253, 15, 5, 1);
  --material-themesysdarkbackground: rgba(32, 26, 25, 1);
  --material-themesysdarkerror: rgba(255, 180, 171, 1);
  --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
  --material-themesysdarkinverse-on-surface: rgba(32, 26, 25, 1);
  --material-themesysdarkinverse-primary: rgba(192, 3, 0, 1);
  --material-themesysdarkinverse-surface: rgba(237, 224, 221, 1);
  --material-themesysdarkon-background: rgba(237, 224, 221, 1);
  --material-themesysdarkon-error: rgba(105, 0, 5, 1);
  --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
  --material-themesysdarkon-primary: rgba(104, 1, 0, 1);
  --material-themesysdarkon-primary-container: rgba(255, 218, 212, 1);
  --material-themesysdarkon-primary-fixed: rgba(65, 0, 0, 1);
  --material-themesysdarkon-primary-fixed-variant: rgba(147, 2, 0, 1);
  --material-themesysdarkon-secondary: rgba(68, 41, 37, 1);
  --material-themesysdarkon-secondary-container: rgba(255, 218, 212, 1);
  --material-themesysdarkon-secondary-fixed: rgba(44, 21, 17, 1);
  --material-themesysdarkon-secondary-fixed-variant: rgba(93, 63, 58, 1);
  --material-themesysdarkon-surface: rgba(208, 196, 194, 1);
  --material-themesysdarkon-surface-variant: rgba(216, 194, 190, 1);
  --material-themesysdarkon-tertiary: rgba(62, 46, 4, 1);
  --material-themesysdarkon-tertiary-container: rgba(251, 223, 166, 1);
  --material-themesysdarkon-tertiary-fixed: rgba(37, 26, 0, 1);
  --material-themesysdarkon-tertiary-fixed-variant: rgba(86, 68, 25, 1);
  --material-themesysdarkoutline: rgba(160, 140, 137, 1);
  --material-themesysdarkoutline-variant: rgba(83, 67, 65, 1);
  --material-themesysdarkprimary: rgba(255, 180, 168, 1);
  --material-themesysdarkprimary-container: rgba(147, 2, 0, 1);
  --material-themesysdarkprimary-fixed: rgba(255, 218, 212, 1);
  --material-themesysdarkprimary-fixed-dim: rgba(255, 180, 168, 1);
  --material-themesysdarkscrim: rgba(0, 0, 0, 1);
  --material-themesysdarksecondary: rgba(231, 189, 182, 1);
  --material-themesysdarksecondary-container: rgba(93, 63, 58, 1);
  --material-themesysdarksecondary-fixed: rgba(255, 218, 212, 1);
  --material-themesysdarksecondary-fixed-dim: rgba(231, 189, 182, 1);
  --material-themesysdarkshadow: rgba(0, 0, 0, 1);
  --material-themesysdarksurface: rgba(24, 18, 17, 1);
  --material-themesysdarksurface-bright: rgba(63, 55, 54, 1);
  --material-themesysdarksurface-container: rgba(37, 30, 29, 1);
  --material-themesysdarksurface-container-high: rgba(47, 40, 39, 1);
  --material-themesysdarksurface-container-highest: rgba(59, 51, 50, 1);
  --material-themesysdarksurface-container-low: rgba(32, 26, 25, 1);
  --material-themesysdarksurface-container-lowest: rgba(18, 13, 12, 1);
  --material-themesysdarksurface-dim: rgba(24, 18, 17, 1);
  --material-themesysdarksurface-tint: rgba(255, 180, 168, 1);
  --material-themesysdarksurface-variant: rgba(83, 67, 65, 1);
  --material-themesysdarktertiary: rgba(222, 196, 140, 1);
  --material-themesysdarktertiary-container: rgba(86, 68, 25, 1);
  --material-themesysdarktertiary-fixed: rgba(251, 223, 166, 1);
  --material-themesysdarktertiary-fixed-dim: rgba(222, 196, 140, 1);
  --material-themesyslightbackground: rgba(255, 251, 255, 1);
  --material-themesyslighterror: rgba(186, 26, 26, 1);
  --material-themesyslighterror-container: rgba(255, 218, 214, 1);
  --material-themesyslightinverse-on-surface: rgba(251, 238, 236, 1);
  --material-themesyslightinverse-primary: rgba(255, 180, 168, 1);
  --material-themesyslightinverse-surface: rgba(54, 47, 46, 1);
  --material-themesyslighton-background: rgba(32, 26, 25, 1);
  --material-themesyslighton-error: rgba(255, 255, 255, 1);
  --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
  --material-themesyslighton-primary: rgba(255, 255, 255, 1);
  --material-themesyslighton-primary-container: rgba(65, 0, 0, 1);
  --material-themesyslighton-primary-fixed: rgba(65, 0, 0, 1);
  --material-themesyslighton-primary-fixed-variant: rgba(147, 2, 0, 1);
  --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
  --material-themesyslighton-secondary-container: rgba(44, 21, 17, 1);
  --material-themesyslighton-secondary-fixed: rgba(44, 21, 17, 1);
  --material-themesyslighton-secondary-fixed-variant: rgba(93, 63, 58, 1);
  --material-themesyslighton-surface: rgba(32, 26, 25, 1);
  --material-themesyslighton-surface-variant: rgba(83, 67, 65, 1);
  --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
  --material-themesyslighton-tertiary-container: rgba(37, 26, 0, 1);
  --material-themesyslighton-tertiary-fixed: rgba(37, 26, 0, 1);
  --material-themesyslighton-tertiary-fixed-variant: rgba(86, 68, 25, 1);
  --material-themesyslightoutline: rgba(133, 115, 112, 1);
  --material-themesyslightoutline-variant: rgba(216, 194, 190, 1);
  --material-themesyslightprimary: rgba(192, 3, 0, 1);
  --material-themesyslightprimary-container: rgba(255, 218, 212, 1);
  --material-themesyslightprimary-fixed: rgba(255, 218, 212, 1);
  --material-themesyslightprimary-fixed-dim: rgba(255, 180, 168, 1);
  --material-themesyslightscrim: rgba(0, 0, 0, 1);
  --material-themesyslightsecondary: rgba(119, 86, 81, 1);
  --material-themesyslightsecondary-container: rgba(255, 218, 212, 1);
  --material-themesyslightsecondary-fixed: rgba(255, 218, 212, 1);
  --material-themesyslightsecondary-fixed-dim: rgba(231, 189, 182, 1);
  --material-themesyslightshadow: rgba(0, 0, 0, 1);
  --material-themesyslightsurface: rgba(255, 248, 246, 1);
  --material-themesyslightsurface-bright: rgba(255, 248, 246, 1);
  --material-themesyslightsurface-container: rgba(248, 235, 233, 1);
  --material-themesyslightsurface-container-high: rgba(243, 229, 227, 1);
  --material-themesyslightsurface-container-highest: rgba(237, 224, 221, 1);
  --material-themesyslightsurface-container-low: rgba(254, 241, 238, 1);
  --material-themesyslightsurface-container-lowest: rgba(255, 255, 255, 1);
  --material-themesyslightsurface-dim: rgba(228, 215, 213, 1);
  --material-themesyslightsurface-tint: rgba(192, 3, 0, 1);
  --material-themesyslightsurface-variant: rgba(245, 221, 218, 1);
  --material-themesyslighttertiary: rgba(112, 92, 46, 1);
  --material-themesyslighttertiary-container: rgba(251, 223, 166, 1);
  --material-themesyslighttertiary-fixed: rgba(251, 223, 166, 1);
  --material-themesyslighttertiary-fixed-dim: rgba(222, 196, 140, 1);
  --material-themewhite: rgba(255, 255, 255, 1);
}
