.podium-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.podium-card-actions {
  display: flex;
  justify-content: space-between;
}

.podium-card-bottom-text {
  display: flex;
  justify-content: space-between;
}

.podium-card-bottom-text-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.podium-card-bottom-text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
