.box {
    height: 76px;
    width: 1920px;
}

.box .header {
    background-color: transparent;
    height: 76px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1928px;
}

.box .overlap {
    background-color: var(--material-themesyslightprimary-container);
    height: 76px;
    position: relative;
    width: 1920px;
}

.box .overlap-group {
    height: 62px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 473px;
}

.box .f1fanzone {
    height: 62px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 200px;
}

.box .text-wrapper {
    color: var(--material-themesyslightprimary);
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 192px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 5px;
    white-space: nowrap;
}

.box .div {
    color: var(--material-themesyslighton-primary-container);
    font-family: "Inter-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 611px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
}

.box .text-wrapper-2 {
    color: var(--material-themesyslighton-primary-container);
    font-family: "Inter-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 914px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
}

.box .text-wrapper-3 {
    color: var(--material-themesyslighton-primary-container);
    font-family: "Inter-Medium", Helvetica;
    font-size: 28px;
    font-weight: 500;
    left: 1115px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 21px;
}

.box .LIVE {
    height: 20px;
    left: 503px;
    position: absolute;
    top: 28px;
    width: 21px;
}

.box .overlap-group-2 {
    height: 37px;
    left: -18px;
    position: relative;
    top: -8px;
    width: 87px;
}

.box .polygon {
    height: 37px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 25px;
}

.box .rectangle {
    background-color: var(--material-themesyslightprimary);
    box-shadow: 0px 0px 8px 2px #ff000040;
    height: 21px;
    left: 37px;
    position: absolute;
    top: 8px;
    width: 50px;
}

.box .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
}

.box .ellipse {
    background-color: var(--material-themesyslightprimary);
    border-radius: 12px;
    box-shadow: 0px 0px 8px 2px #ff000040;
    height: 24px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 24px;
}
